{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}"{{ post['title'] }}"{% endblock %}</h1>
  <a href="{{ url_for('blog.home', user_id=user['id']) }}">{{ user['nickname'] }}></a>
{% endblock %}

{% block content %}
<a href="{{ url_for('blog.index') }}">index</a>
<div>
  <label for="title">Title</label>
    <div id="title">
        {{ request.form['title'] or post['title'] }}
    </div>
  <label for="body">Body</label>
  <div id="body">{{ request.form['body'] or post['content'] }}</div>
  <form method="post">
  <button formmethod="post" formaction="http://localhost:5000/blog/{{ post['_id'] }}/like">like {{ like }}</button>
  </form>
</div>
  <hr>
{% endblock %}